<%= form_for @story, url: {action: "update"}, html: {class: "nifty_form"} do |f|  %>
<div class="form-group col-sm-12">
	<%= f.label :Story_content %>
	<%= f.text_area :content, :class => "col-sm-12", :rows => 5 %>
	<br />
	<%= f.text_field :created_at, :class=>"form-control", :readonly => true %>
	<br />
	<%= f.submit "Save", :class=>"btn btn-primary" %>
</div>
<% end %>