<div class="container-fiuld">
<%= form_for :story do |f| %>
<p>
  <%= f.text_area :content, :value =>"" , :autofocus=>true, :class => "col-sm-12", :rows => 5 %>
  <br />
  <%= f.submit  "Save Story", :class=>"btn btn-success btn-sm" %>
</p>
<% end %>
<h4>Stats</h4>
<p>Stories List: <%= @stories_total_count %></p>
<h4>List</h4>
  <% @stories.each_with_index do |story, index| %>
    <table class="table table-sm col-sm-12 table-striped table-hover">
      <thead class="thead-inverse">
        <tr>
          <th style="width: 10%">#</th>
          <th style="width: 70%">Content</th>
          <th style="width: 20%">Action</th>
        </tr>
      </thead>
      <tr>
        <td><%=index+1%></td>
        <td><%= story.content %></td>
        <td>
          <%= link_to 'edit', edit_story_path(:id => story), :class => "btn btn-info btn-sm" %>
          <%= link_to 'delete?', story_path(story), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger btn-sm" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover()
})
$('.popover-dismiss').popover({
  trigger: 'focus'
})
</script>